section.first {
    padding-top: 3rem;
    width: 60%;
}

section.first h1 {
    font-size: var(--h1-font-size);
    background: rgb(95, 39, 205);
    background: linear-gradient(350deg, rgba(95, 39, 205, 1) 0%, rgba(238, 82, 83, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    outline: 0;
}

section.first h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

section.text {
    padding-top: 3rem;
    width: 80%;
    display: flex;

    .flexbox {
        flex: 1;
        text-align: left;
    }

    .flexbox:first-child {
        margin-right: 1rem;
    }

    h1 {
        font-size: var(--h1-font-size);
        background: rgb(95, 39, 205);
        background: linear-gradient(350deg, rgba(95, 39, 205, 1) 0%, rgba(238, 82, 83, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        outline: 0;
    }

    h2 {
        font-size: var(--h2-font-size);
        line-height: var(--h2-line-height);
    }

}

.description {
    color: var(--description-color);
    font-size: var(--description-font-size);
}

section.projects {
    padding-top: 7rem;
    display: flex;
}

.flexbox {
    flex: 1;
    text-align: left;
}

.flexbox:first-child {
    margin-right: 3rem;
}

.hero {
    border-radius: .5rem;
    background: rgb(95, 39, 205);
    background: linear-gradient(350deg, rgba(95, 39, 205, 1) 0%, rgba(238, 82, 83, 1) 100%);
    transform: rotate(3deg)
}

.hero img {
    max-width: 100%;
    border-radius: .5rem;
    transform: rotate(-5deg)
}

.hero2 {
    border-radius: .5rem;
    background: rgb(16, 172, 132);
    background: linear-gradient(350deg, rgba(16, 172, 132, 1) 0%, rgba(72, 219, 251, 1) 100%);
    transform: rotate(-3deg)
}

.hero2 img {
    max-width: 100%;
    border-radius: .5rem;
    transform: rotate(4deg);
    box-shadow: 0 .1rem .4rem 0 rgba(0, 0, 0, 0.2);
}

section.contact {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h1 {
        background: rgb(95, 39, 205);
        background: linear-gradient(350deg, rgba(95, 39, 205, 1) 0%, rgba(238, 82, 83, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        outline: 0;
    }
}