// Selection color
::-moz-selection {
    background: #ff9f43;
    color: #fff
}

::selection {
    background: #ff9f43;
    color: #fff
}

// Footer fix
// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

// Define main body
body {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    font-family: var(--body-font);
    font-weight: var(--body-fontweight);
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: var(--body-fontsize);
    word-wrap: break-word;
    display: flex;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
}

// Footer fix
main {
    flex: 1 0 auto;
    padding-bottom: 2rem;
}

// Basic Links
a {
    text-decoration: none;
    font-weight: var(--semibold-fontweight);
    color: var(--link-color);
    outline: 0;
    transition: .8s;
}

a:hover {
    color: var(--link-transition-color);
}

// Basic elements
hr {
    border: 0.01rem dotted grey;
}

p {
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
    color: var(--p-color);
}

.content {
    flex-grow: 1;
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    font-size: var(--p-font-size);

    a {
        color: #fff;
        font-weight: var(--semibold-fontweight);
        outline: 0;
        background-image: linear-gradient(#fff, #fff);
        background-size: 0 .1em;
        background-position-y: 100%;
        background-position-x: 0;
        background-repeat: no-repeat;
        transition: background-size .2s ease-in-out
    }

    a:hover {
        color: #fff;
        background-size: 100% .1em
    }

    a:active {
        position: relative;
        top: 1px;
        outline: 0
    }

    .button {
        margin: 0 auto;
        width: auto;
        max-width: 40%;
        display: block;
        padding: 1rem;
        border-radius: 0.2rem;
        font-size: var(--p-font-size) !important;
        font-weight: var(--body-fontweight) !important;
        font-weight: 500;
        background: rgb(95, 39, 205);
        color: #fff !important;
        transition: all .5s ease;
    }

    .button:hover {
        background: rgba(238, 82, 83, 1);
    }
}

h1,
h2,
h3,
h4 {

    a {
        color: #0abde3 !important;
        background-image: linear-gradient(#0abde3, #0abde3) !important;
    }
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1rem 0;
    z-index: 9;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);

    .container {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .container .logo {
        display: inline-block;
        margin-right: auto !important;
        width: 10%;
    }

    .container .logo img {
        width: 1rem;
    }

    .container nav {
        display: inline-block;
        float: right;
    }

    .container nav a {
        padding: 1rem;
    }
}

section {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 100%;
}

footer {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    background: #111;
    border-top: 1px solid #333;

    // Footer fix
    flex: none;

    p {
        font-size: 1rem;
        color: #fff;
        line-height: 1rem;
        display: inline-block;
    }

    ul {
        display: inline-block;
        list-style-type: none;
        padding-left: 0;
    }

    li {
        display: inline-block;
        padding-left: 0;
    }
}

.footer_nav {
    margin: 0 auto;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .flexbox {
        flex: 1;
    }

    .flexbox:first-child {
        margin-right: 0;
    }

    ul {
        display: block;
        list-style-type: none;
        margin: 0 auto;
        width: 80%;
    }

    li {
        display: block;
        padding-bottom: .5rem;

        a {
            font-weight: var(--body-fontweight);
            display: inline-block;
            color: #576574;
            transition: .3s;
        }

        a:hover {
            color: #fff;
        }

        img {
            width: 6rem;
        }

        svg {
            width: 6rem;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;
            filter: grayscale(100%);
            opacity: .5;
            fill-rule: nonzero;
            transition: all .5s ease;
        }

        svg:hover {
            filter: grayscale(0%);
            opacity: 1;
        }
    }
}

.bold {
    font-weight: var(--bold-fontweight);
}

// Gists
//@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');

body .gist .gist-file {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid .1rem transparent;
}

body .gist .gist-file::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -.1rem;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(350deg, rgba(95, 39, 205, 1) 0%, rgba(238, 82, 83, 1) 100%);
}

body .gist .gist-data {
    border-bottom: none;
    background-color: #000;
    border-radius: 5px;
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    font-size: 14px;
}

body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}

body .gist .blob-num {
    display: none;
    color: #fff;
    background-color: grey;
    pointer-events: none;
}

body .gist .gist-meta {
    display: none;
}

// Basic Animations

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}